<% kayttajat.forEach((kayttaja) => { %>
    <!--Jos kuntamuoto on sama kuin "kaupunki" niin tulos näytetään taulukossa-->
    <%if (kayttaja.val5 === "Kaupunki") { %>

    <tr>                    
        <td><%=kayttaja.val0%></td>
        <td><%=kayttaja.val1%> <% if (kayttaja.val1 === kayttaja.val2 ) {
            ruotsalainen = "";
         }
         else {
            ruotsalainen = ", " + "(" + kayttaja.val2 + ")" ;

         }
        %>  <%=ruotsalainen%></td>
        <td><%=kayttaja.val3%></td>
        <td><%=kayttaja.val4%></td>
        <td><%=kayttaja.val5%></td>
    </tr>

    <%};%>
<% }); %>